amqp==2.5.1
billiard==3.6.1.0
celery==4.3.0
certifi==2019.9.11
chardet==3.0.4
Django==2.2.13
django-haystack==2.8.1
django-redis==4.10.0
django-redis-sessions==0.6.1
django-tinymce==2.7.1
dnspython==1.16.0
eventlet==0.25.1
greenlet==0.4.15
idna==2.8
importlib-metadata==0.23
itsdangerous==1.1.0
jieba==0.39
kombu==4.6.4
monotonic==1.5
more-itertools==7.2.0
mysqlclient==1.4.4
Pillow==7.2.0
py3Fdfs==2.2.0
pycryptodomex==3.7.2
PyMySQL==0.9.3
python-alipay-sdk==1.10.1
pytz==2019.2
redis==3.3.8
requests==2.22.0
simpleui==3.9
six==1.12.0
sqlparse==0.3.0
urllib3==1.25.3
vine==1.3.0
Whoosh==2.7.4
zipp==0.6.0
